body {
  background-color: #fff;
}
.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}
.my-masonry-grid_column > div > a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: gray;
  color: black;
  border-radius: 10px;
  box-shadow: 3px 3px 4px black, 0 0 2px blue, 0 0 2px red;
  transition-duration: 0.5s;
}
.my-masonry-grid_column > div > a:hover {
  color: #222222;
  background-color: #eee;
}

.img {
  width: 100%;
}
.names {
  font-size: 20px;
  text-align: center;
}

.button {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
